modules = ["cpp"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "C++ Neural Network"

[[workflows.workflow]]
name = "C++ Neural Network"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -std=c++17 src/main.cpp -o neural_network && ./neural_network"

[deployment]
run = ["sh", "-c", "g++ -std=c++17 src/main.cpp -o neural_network && ./neural_network"]
